*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #F8F9FA;
    height: 80px;
    width: 100%;
    position: fixed;
}

label{
    color: #7D48B1;
    font-size: 30px;
    line-height: 80px;
    padding: 0 50px;
    /* font-weight: bold; */
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #7D48B1;
    font-size: 20px;
    /* text-transform: uppercase; */
    padding-right: 20px;
}

.img{
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.firstxt{
    padding: 30px;
    font-size: 20px;
    background-color: #E9ECEF;
}

.serv{
    width: 75%;
    color: #222229;
    text-align: center;
    margin-left: 14%;
    padding: 25px;
    font-size: 25px;
}

.serv hr{
    margin: 10px 0;
    border-bottom: 1.5px solid #B4B4B4;
}

.serv h2{
    color: #6648B1;
    font-size: 60px;
    font-weight: lighter;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 50px;

}

.container h2{
    color: #007BFF;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.container button{
    padding: 5px;
    margin: 16px 0;
}

.container p{
    padding: 5px;
}

.container img{
    overflow: hidden;
    width: 350px;
    height: 160px;
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    height: 50%;
}

.first h2{
    color: #6648B1;
    font-size: 35px;
    padding-bottom: 10px;
}

.first button{
    width: 25%;
    background-color: #6648B1;
    margin: 20px 40px 20px 0;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    color: white;
}

.first p{
    line-height: 30px;
}

.second img{
    width: 92%;
    height: 360px;
    padding-left: 30px;
}

.pre-footer hr{
    margin: 0px 3%;
    border-bottom: 1.5px solid #B4B4B4;

}

.pre-footer h2{
    color: #6648B1;
    font-size: 40px;
    /* text-align: center; */
    padding-top: 20px;
    margin-left: 25%;
}

.pre-footer p{
    margin-left: 25%;
    font-size: 20px;
    padding-top: 10px;
}

#container h3{
    color: #6648B1;
    font-size: 30px;
}

.message hr{
    margin: 10px 0;
    border-bottom: 1px solid #6648B1;
    width: 60%;
    margin-left: 35px;
}

.name-place{
    width: 40%;
    padding: 5px;
}
.mssg-place{
    width: 81%;
    height: 150px;
    margin-top: 10px;
    padding: 5px;
}

.reach hr{
    margin: 10px 0;
    border-bottom: 1px solid #6648B1;
    width: 60%;
    margin-left: 35px;
}

.reach p{
    margin: 0;
}

.reach strong{
    color: #6648B1;
}

.numb{
    color: #4289FF;
}

.message button{
    width: 25%;
    background-color: #6648B1;
    margin: 20px 40px 20px 0;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    color: white;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #D3D3D3;
    padding: 30px;
}

.footer h5{
    color: #664FB2;
}

.footer p{
    font-size: 14px;
    color: #6D7CFF;
}

.last-footer{
    background-color:  #D3D3D3;
    height: 20px;
}

.last-footer hr{
    border-bottom: 1px solid #6648B1;
    margin:0px 200px;
}

.last-footer p{
    background-color: #D3D3D3;
    color: #6648B1;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}